<!DOCTYOE html>

<html>
    
    <head>
        <title>Sehlah School</title>
        <%= stylesheet_link_tag    "School", :media => "all" %>
        
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    </head>

    <body>
    
        <div class="first_div">
            <img src="/app/assets/images/university-campus.png" id="school_img">
            <h1 id="welcome_txt">Welcome To Sehlah School</h1>
            
            <div>
                <h3 id="start_btn">Lets Get Started</h3>
            </div>
            
        </div>
        
        <div class="second_div">
        
            <h1 id="right_sc">All rights reserved to SEHLAH School</h1>
        
        </div>
    
    </body>




</html>